

h1{
    font-size: 300%;
}

.menu-control{
    margin: 20%;
    text-align: center;
}

.menu-control input{
    width: 300px;
    font-size: 40px;
    height: 140px;
}

.diffControl{
    display: inline;

}


.menu-control .diff{
    width: 120px;
    font-size: 40px;
    background-color: aliceblue;
    color: black;
}


#game-control, #gameover-view, #win-view{
    height: 100px;
    text-align: center;
    width: 512px;
    margin: auto;
}


#game-control input, #gameover-view input, #win-view input{
    width: 250px;
    font-size: 22px;
}

#gameover-view input, #win-view input{
    height: 60%;
}






#game-view{
    text-align: center;
    font-size: 200%;
    font-weight: bold;
}



#gl-canvas {
    margin: auto;
    display: block;
}

#score_div {
    padding-right: 40%;
    padding-left: 40%;
    display: block;
    width: 20%;
}


body{
    font-family: Arial;
    background-color: #2a354c;
    color: white;
}

input{
    background-color: #d10057;
    border: none;
    color: white;
    padding: 30px;
    font-weight: bold;
}

